table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid black;
}

td {
    width: 3em;
    text-align: center;
}

td.given {
    font-weight: bold;
}

input.given {
    font-weight: bold;
    color: blue;
}

tr:nth-child(3n+0) td {
    border-bottom: 3px solid black;
}

td:nth-child(3n+0) {
    border-right: 3px solid black;
}

input {
    width: 2.5em;
    border: none;
    text-align: center;
}

.error {
    color: red;
}

.success {
    color: blue;
}

input.step {
    color: red;
    background-color: lightGrey;
}